h3 Please type in a message below:
form(action='/newMessage', method='post')
  input(type='text', value='newMessage')
  input(type='submit', value='Submit new message')

h3 Here is the message you typed:
p= sentMessage